/* Exemplo abaixo de uma declaração
seletor seguido de par de chaves*/

/* body {
  background: rgb(179, 156, 156);
  background: rgb(115, 115, 241);
} */

/* p#unico-1{
    color: red;
}

.prg-2 {
    color: green;
}

p {
    color: yellow;
}
  */

  header {
    border:1px solid red;

    padding: 60px;
  }

  h1 {
    border: 1px solid green;

    height: 60px;

    display: inline;
  }
  p {
    margin: 20px;

    border: 1px solid purple;

    display: inline;
  }

  span {
    border: 1px solid pink;

    display: block;
  }